<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A1 Technologies Ticket System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/a1-logo.png" id="logo-img">
                </a>
            </div>
        </div>
    </nav>

    <div class="ticket-id">
        <div class="container">
            <div class="text-center">
                <h3>Ticket ID</h3>
                <small>Input your 10 Digit Key</small>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <form action="" class="form-control"></form>
                        <small class="red">Field is Empty</small>
                    </div>
                    <button class="btn btn-primary center">Login</button>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container footer-center">
            <h4>&copy; A1 Technologies. </h4>
        </div>
    </footer>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>