{% extends 'base.html' %}
{%  block content %}
<div class="ticket-id">
    <div class="container">
        <div class="text-center">
            <h3>Ticket ID</h3>
            <small>Input your 10 Digit Key</small>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <form action="" class="form-control"></form>
                </div>
                <div class="red text-center">
                    <h5>Incorrect Ticked ID</h5>
                    <h6>Try Again</h6>
                </div>
                <button class="btn btn-primary center">Login</button>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>
{% endblock %}