{% extends 'base.html' %}
{% block content %}
<div class="ticket-id">
    <div class="container">
        <div class="text-center">
            <h4>Successfully Logged In With</h4>
            {% if user.is_authenticated %}
            <h1 class="green"><strong>{{ user.username }}</strong></h1>
            {% endif %}
            <div class="time-remaining">
                <h3>Time Remaining</h3>
                <strong>0:09:17</strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}